body {
  border: 20px solid #bdc3c7;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  margin: 3.5vh auto 0 auto;
  padding: 1.5vw;
  width: 50%;
}

h3 {
  color: #3498db;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .2em;
  text-transform: uppercase;
  
}

h2 {
  color: #2c3e50;
  font-weight: 700;
}

p {
  font-weight: 400;
}

p:nth-of-type(1), 
p:nth-of-type(4) {
  border-left: 5px solid #bdc3c7;
  padding-left: .4vw;
}

hr {
  height: .5px;
  border: 0 none;
  color: #000;
  background: #000;
}
